{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin navbar-form pull-right">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" class="span2" />

    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="span2" />

    <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans }}" />
</form>